<div class="row">
    <div class="col-md-6">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [data]="lineChartData"
                  [options]="lineChartOptions"
                  [type]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartData.labels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <div class="row">
        <button class="btn btn-outline-primary btn-block" (click)="randomize()">Randomize</button>
        <button class="btn btn-outline-primary btn-block" (click)="pushOne()">Push</button>
        <button class="btn btn-outline-primary btn-block" (click)="changeColor()">Recolor</button>
        <button class="btn btn-outline-primary btn-block" (click)="hideOne()">Toggle Series B</button>
        <button class="btn btn-outline-primary btn-block" (click)="changeLabel()">Change Label</button>
      </div>
    </div>
  </div>
